div {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.container {
  background-color: #fff;
  margin: 2em auto 0 auto;
  padding: 2em 2em;
  padding-top: 1em;
  border: 0;
  width: 18em;
  display: block;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  position: relative;
  font-size: 1.8em;
  margin-top: 0;
  letter-spacing: 0.3175px;
  word-spacing: 0;
  font-family: "GoogleSans-Medium", sans-serif;
  font-weight: 400;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 1em 1.25em;
  color: #000;
  background-color: #fff;
  border: 1.5px solid #282c34;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 2em;
  font-size: 13.5px;
  transition: all 0.3s ease;
}

.btn:after {
  position: relative;
  top: 50%;
  right: 0.6em;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "»";
  color: #000;
  opacity: 0;
  transition: all 0.3s ease;
}

.btn:hover {
  padding-right: 2em;
  color: #000;
  box-shadow: 1px 1px 5px rgba(46, 61, 73, 0.2);
}

.btn:hover:after {
  right: 0;
  margin-left: 2em;
  opacity: 1;
}

.btn:focus {
  outline: none;
}

.fa {
  position: relative;
  left: 0;
  margin-top: 0.25em;
  margin-right: 0.25em;
  float: left;
  color: #111;
}

.input-1 {
  display: inline-block;
  width: 100%;
}

input {
  padding: 0;
  border: none;
  border-bottom: #282c34 1px solid;
  width: 94%;
  margin-bottom: 1.5em;
  color: #111;
  font-family: "GoogleSans-Medium", sans-serif;
  letter-spacing: 0.3175px;
  word-spacing: 0.4545px;
  font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
  font-size: 0.9em;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

#spc-1 {
  margin-top: 2em;
}

.list {
  background-color: #fff;
  margin: 2em auto 2em auto;
  padding: 2em 2em;
  padding-top: 1em;
  border: 0;
  width: 35em;
  display: block;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

.gif {
  text-align: center;
  margin-top: 10vh;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table td,
th {
  border-bottom: 1px solid #ddd;
  padding: 0.8em;
  text-align: center;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  border-bottom: 2px solid #ddd;
  /* background-color: black; */
  color: black;
}

.unsubscribe--button {
  padding: 0.6em;
  cursor: pointer;
  font-size: 1.8vmin;
  font-weight: bold;
  background-color: red;
  color: white;
}
@media screen and (max-width: 468px) {
  .container {
    width: 75%;
  }
  h1 {
    font-size: 1.5em;
  }
  input {
    width: 92%;
  }
}

@media screen and (max-width: 320px) {
  input {
    width: 90.5%;
  }
}
